.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    color: hsl(180, 100%, 25%);
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
    transition: 1s;
}

.buttons__button:active {
    outline: solid 2px #000000;
    color: hsl(180, 100%, 45%);
}

.buttons__button:disabled {
    color: hsl(0, 0%, 70%);
    cursor: auto;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        justify-content: center;
    }
}